.container {
    margin: 100px 10px 0 10px;
    display: flex;
    justify-content: center;
}

.audit {
    margin: 20px 0;
    padding: 6px;
    min-width: 300px;
    max-width: 600px;
    border: 1px solid black
}

.h1, .h2, .h3, .h4 {
    font-size: 1em;
    color: #004AAD;  
}

.boxDate {
    display: flex;
}

.date {
    font-size: 0.8em;
    margin: 10px 10px 10px 0
}

.h2, .h3, .h4 {
    border: 2px solid #004AAD;
}

.h3, .h4 {
    text-align: center;
}

.h2 {
    margin-bottom: 5px 0;
    padding-left: 4px;
}

.h4 {
    margin-top: 10px;
}

.adress {
    border: 1px solid black;
    display: flex;
    margin-top: 10px;
}

.dash {
    border-left: 1px solid black; 
}

.people {
    margin: 5px;
    width: 136px;
}

.p {
    font-size: 0.7em;
    margin: 2px 0;
}

.p2 {
    font-size: 0.6em;
    margin: 2px 0 20px 0;
}

.table {
    width: 280px;
    border-collapse: collapse;
    margin: 20px auto 0 auto;
}

.th, .td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
    font-size: 0.7em;
    height: 30px
}

.th {
    background-color: #f2f2f2;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.sign {
    margin: 20px 2px;
    display: flex;
   justify-content: space-around;
}

.boxSign {
    width: 140px;
    
}

.boxSign2 {
    width: 140px;
    padding-left: 7px;
}

.h5 {
    font-size: 1em;
    color: #004AAD;
} 

.signature {
    height: 50px;
}

.userSignature, .clientSignature {
    display: flex;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid black
}

.userSignature {
    position: relative;
    right: 4px;
}