.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  opacity: 0.3;
  background: url('../assets/logo.jpg') no-repeat center;
}